nav h1:hover, nav h1:focus, nav h1:active {
    transition: 0.5s ease-in-out;
    font-size: 2.5em;
    color: #ffc107;
}


main {
    z-index: 0;
    position: relative;
    overflow: hidden; 
    transform-origin: 0% 50%;
    background-size: cover;
    display: block;
}

main.menu-active{
    border-radius: 0.001px;
}

.aop-main-container {
    width: 80%;
    margin: auto;
    margin-top: 100px;
    /* padding: 100px 0 0 0; */
}

.aop-head-text {
    color: white;
    text-align: center;
}

.aop-head-text h1 {
    font-size: 5em;
    color: #1E7259;
    margin:0;
}

.aop-head-text h2{
    font-family: 'Poppins', sans-serif;
    font-size: 2.2em;
    color: white;
    magin:0;
    margin-block-start: 0.2em;
    margin-block-end: 1.4em;

}
/* rgba(23, 44, 87) */

.aop-header-detail {
    display: table;
    width: 100%;
    align-items: center;
    margin: 0;
    padding: 5px;
    background-color: rgb(49, 125, 102);
    border: 1px black solid;
    box-shadow: 5px 10px black;
}
.col-6{
    display: table-cell;
    width: 59%;

    /* border: 2px red solid; */
    padding: 0;
    position: relative; 
}

#gamesbond-col-6{
    width: 50%;
}

.col-4{
    display: table-cell;
    width: 39%;
    /* border: 2px red solid; */
    padding: 0;
    position: relative; 
}


/* Project Detail Text parts */
.project-detail{
    position: absolute;
    margin: 0;
    font-size: 1em;
    width: 100%;
    padding-bottom: 10px;

}
.project-detail h3{
    margin: 10px 0 0 30px;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
.project-detail p{
    margin: 0px 0 0 30px;
}

.iframe-container{
    position: relative;
    width: 100%;
    margin: auto;
    padding-bottom: 56.25%; 
    height: 0;
    border-right: 2px dotted #FFD7CF;

}

.iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.aop-sub-container {
    width: 100%;
    margin: 200px 0 0 0;
    height: auto;
    /* background: rgba(80,204,167, 0.9); */
    box-shadow:inset 0 0 0 2000px rgba(80,204,167, 0.7);
    padding: 50px 0 50px 0;

}

.aop-sub-container h2{
    text-align: center;
    font-family: 'Dokdo', cursive;
    font-size: 4em;
    color: white;
    margin-block-start: 0.8em;
    margin-block-end: 0.5em;
}

.aop-sub-container p{
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 1.3em;
    color: white;
    padding: 0 0 50px 0;
}

.aop-pic{
    padding-top: 50px;
}

.aop-pic img{
    display: block;
    margin: auto;
    max-width: 60%;
    
}

.caption{
    text-align: right;
    margin: 0;
    padding: 0 0 30px 0;
    font-size: 1.3em;
    color: white;
    display: block;
    margin: auto;
    max-width: 60%;
}

.footer-container{
    background-color: white;
    display: relative;
}

.middle{
    top: 100%;
}